* {
  font-family: Nunito, sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto 0;
  background-color: #523a78;
  background-image: linear-gradient(316deg, #523a78 0%, #ee696b 74%);
}

/*#region NAV */
ul {
  padding: 0;
  margin: 0;
}
ul > li {
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.15rem;
  list-style: none;
  padding: 0 20px;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
  font-weight: 100;
  border-right: dotted 2px rgba(255,255,255, 0.8);
}
ul > li:first-child{
  border-right: none;
  margin-top: auto;
}
ul > li:last-child{
  border-right: none;
}
ul > li > a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.05rem;
}
ul > li > a:after {
  display:block;
  content: '';
  border-bottom: solid 3px white;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
ul > li > a:hover:after { transform: scaleX(1); }
.nav {
  width: auto;
  list-style: none;
}
.name {
  font-family: Kalam, cursive;
  cursor: default;
  font-weight: 900;
  font-size: 3rem;
  color: white;
}
.align-center {
  text-align: center;
}
/*#endregion*/

/*#region Side Nav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #523a78;
  background-image: linear-gradient(316deg, #523a78 0%, #ee696b 74%);
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
}
.sidenav a {
  padding: 1rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav > li {
  list-style: none;
}
.closebtn {
  text-align: right;
  font-size: 2.5rem;
  margin-right: 0.5rem;
}
.navOpenButton{
  position: fixed;
  z-index: 1;   
  right: 0;
  font-size: 2.5rem;
  color: white;
  display: none;
  padding: 0 0.25rem;
}
/*#endregion*/

/*#region Header Section */
.header-container {
  display: table;
  height: 100vh;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  color: white;
}
.text-container {
  display: table-cell;
  vertical-align: middle;
  padding: 0 1rem;
}
.header {
  font-size: 4rem;
  height: auto;
  width: 100%;
  color: white;
}
.header-name {
  font-family: Kalam, cursive;
}
.sub-header {
  font-size: 1.1rem;
  letter-spacing: 0.25rem;
  font-weight: lighter;
}
#subhead2 {
  margin-bottom: 6rem;
}
/*#endregion*/

/*#region About Me Section */
.about-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  justify-content: center;
  text-align: center;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
.about-text {
  width: 400px;
  margin: 0 20px;
  color: white;
}
.about-me-title {
  font-size: 2rem; 
  letter-spacing: 0.25rem;
}
.about-me-text {
  text-align: center; 
  font-size: 1.25rem;
}
/*#endregion*/

/*#region Skills Section */
.languages-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: 1fr;
  justify-items: center;
  width: 100%;
}
.about-languages {
  width: 500px;
  margin: 0 20px;
  color: white;
}
.skills-title {
  font-size: 2rem; 
  letter-spacing: 0.25rem;
}
.language {
  width: 100px;
  margin: 20px;
}
.language:hover{
  color: rgba(255, 255, 255, 0.5);
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}
/*#endregion*/

/*#region Projects Section */
.projects-wrapper {
  width: 100%;
  min-height: 50vh;
  height: auto;
  text-align: center;
  color: white;
  margin: 1rem 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
.projects-header {
  font-size: 2rem; 
  letter-spacing: 0.25rem;
  padding: 0 1rem;
}
.projects-title {
  font-size: 1.75rem; 
  letter-spacing: 0.25rem;
  font-weight: 400;
}
.projects-text {
  text-align: center; 
  font-size: 1.25rem
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.project {
  display: table-cell;
  vertical-align: middle;  
  border-radius: 1rem;
  width: 300px;
  height: 300px;
  margin: 2rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.01);
}
.project:hover {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}
.project-link-icons {
  font-size: 1rem;
}
/*#endregion*/

/*#region Contact Section */
.contact-wrapper {
  min-height: 25vh;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
.contact-me-box {
  display: table;
  text-align: center;
  margin: 0.5rem;
  color: white;
}
.contact-me-box > span {
  display: table-cell;
  vertical-align: middle;
  padding: 0 1rem;
}
.contact-me-box > span > h1 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}
/*#endregion*/

/*#region Footer */
.footer {
  padding: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  color: white;
}
.footer-icons {
  font-size: 1.5em;
}
.footer h4 {
  margin: 0;
}
span > a {
  color: white;
}
span > a:hover {
  color: rgba(255, 255, 255, 0.5);
}
/*#endregion*/

/*#region MEDIA QUERIES */
@media only screen and (max-width: 800px) {
  ul.nav {
    display: none;
  }
  .navOpenButton {
    display: block;
  }
}
/*#endregion*/

/*#region Animations */
.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}
/*#endregion*/

/*#region Icon Settings */
.icons {
  font-size: 3em;
}
/*#endregion*/